.blueTeam, .redTeam {
    margin: 0 auto;
}

.prediction {
    display: none;
    text-align: center;
}

.summoner {
    display: inline-block;
    margin: 0px 5px 0px 5px;
    box-sizing: border-box;
}

.summonerName {
    margin: 0;
}

.blueTeam .summoner {
    background-color: #0f0f46;
    border: 3px solid #286090;
}

.redTeam .summoner {
    background-color: #460f0f;
    border: 3px solid #902828;
}

.champImg {
    position: relative;
}

.textStroke {
    color: #ffbe00;
    text-shadow: -1px -1px 4px black, 2px -1px 0px black, 1px 1px 3px black, 1px 1px 0px black;
    font-family: "Times New Roman", Georgia, Serif;
    margin: 10px 0px 10px 0px;
}

.imageText {
    margin-bottom: 0px;
}

.blueTeam .imageText {
    color: #4499e2;
}

.redTeam .imageText {
    color: #e24444;
}

.imageTextBG {
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .65);
    width: 100%;
}